@mixin WPCoMa_EditableProperty($critical) {

  @if $critical == false {

    .partial[data-partial="coma/component/editable-property"] {

      display: inline-block;
      width: 100%;
      position: relative;

      transition: opacity .35s ease;

      .helper {

        opacity: 0;

        position: absolute;
        top: 0;
        left: 0;

        z-index: 100;

        .input {
          > input, select, textarea {
            font-size: 26px;
            margin: -4px;
            padding: 4px;
            background: rgba(0, 0, 0, 0.1);
            border: none;
            height: auto;
            display: block;
            width: 100%;
            box-shadow: none;
            box-sizing: content-box;
          }
        }
        $size : 24px;

        .save, .cancel {
          cursor: pointer;

          position: absolute;
          top: -4px;
          right: -4px;
          width: $size;
          height: $size;

          background-color: $color-wp-bar-background-color;
          color: $color-wp-link-default-color;

          &:hover, &:focus {
            background: $color-wp-bar-hover-background-color;
            color: $color-wp-link-default-hover-color;
          }

          &:before {
            @include font-dashicons();

            font-weight: normal;
            line-height: 24px;
            font-size: 20px;
            display: block;
            text-align: center;
          }
        }

        .save {

          &:before {
            content: '\f464';
          }

        }
        .cancel {
          top: $size - 4px;

          &:before {
            content: '\f158';
          }
        }

      }

      .value {
        line-height: 1;
      }

      &.coma-empty {

        opacity: 0.6;

        .helper {

          input {

          }

        }

      }

      &.#{$prefix}-show, &.coma-empty.#{$prefix}-show {

        color: transparent;

        opacity: 1;
        .helper {
          opacity: 1;
        }
      }

    }

  }

}