@mixin WPCoMa_FieldCodeEditor($critical) {

  @if $critical == false {

    .partial[data-partial="coma/component/field/code-editor"] {

      display: block;

      > select {
        vertical-align: middle;
      }

      textarea {
        width: 100%;
        font-size: 10px;
      }

      .CodeMirror {
        height: 600px;

      }
      &.auto-height {
        .CodeMirror {
          height: auto;
        }
      }

      html.code-editor-fullscreen & {
        width: 100%;
        height: 100%;
        .CodeMirror {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          z-index: 10;
        }
        > .fullscreen-toggle {

          position: absolute;
          bottom: 20px;
          right: 20px;


          z-index: 11;
        }
      }

    }

  }

}