@mixin WPCoMa_ControllerBrowserController($critical) {

  @if $critical == false {

    .partial[data-partial="coma/component/controller-browser/controller"] {

      position: relative;
      min-height: 32px;

      border-top: solid $color-controller-browser-controller-property-border-color 1px;

      input[type="checkbox"] {
        position: absolute;
        top: 8px;
        left: 8px;
        margin: 0;
      }

      input[type="text"], select, textarea {

        width: 100%;

        display: inline-block;
        vertical-align: middle;

        font-size: 12px;
        line-height: 20px;
        padding: 2px 8px;
        margin: 0;

        border: 1px solid transparent;
        background: transparent;
        box-shadow: none;

        transition: background 300ms ease-in-out, border-color 300ms ease-in-out;

        &:active, &:focus {

          border: 1px solid #dddddd;
          -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, .07);
          background-color: $color-white;
          color: $color-controller-browser-controller-property-color;
          outline: 0;
          //border-color: #5b9dd9;
          //-webkit-box-shadow: 0 0 2px rgba(30,140,190,.8);
          //box-shadow: 0 0 2px rgba(30,140,190,.8);
        }

      }

      textarea {
        font-family: monospace;
        letter-spacing: 1px;
        font-size: 12px;
      }

      > select {

        position: absolute;
        top: 2px;
        right: 32px;

        width: auto;
      }

      &:after {

        @include font-dashicons();
        content: "\f132";

        opacity: 1;
        transition: transform.65s ease, opacity .65s ease;

        position: absolute;
        right: 7px;
        top: 7px;
        font-size: 20px;
        line-height: 20px;
        height: 18px;
      }

      > .title {

        display: block;
        margin: 7px 4px;
        margin-left: 45px;
        cursor: pointer;

      }

      overflow: hidden;

      @media screen and (max-width: $media-wp-tablet-max) {

        font-size: 16px;
        line-height: 26px;
        &:after {
          font-size: 26px;
          line-height: 26px;

          top: 10px;
          right: 10px;

          height: 20px;

        }
      }

      &.opened {

        background-color: $color-controller-browser-controller-open-background-color;

        &:after {
          opacity: 0.4;
          transform: rotate(45deg);
        }

        > .controllers,
        > .properties {
          border-top: solid $color-controller-browser-controller-property-border-color 1px;
          &:empty {
            border-top-width: 0px;
          }
        }

        > .properties {
          background: $color-controller-browser-controller-property-background-color;

          max-height: none;
        }
        > .controllers {
          max-height: none;
        }

      }

      > .controllers {
        max-height: 0;
      }

      > .properties {

        max-height: 0;
        overflow: hidden;

        > .property {
          position: relative;
          min-height: 32px;
          border: solid $color-controller-browser-controller-property-border-color;
          border-width: 1px 0 0 0;

          &:hover, &:active {
            background-color: $color-controller-browser-controller-property-hover-background-color;

          }

          &:last-child {
            border-bottom-width: 1px;
          }

          > div {
            @include clearfix();
            display: block;
            padding-left: 37px;

            > div {

              input[type="text"] {

                font-size: 12px;
                line-height: 20px;

                @media screen and (max-width: $media-wp-tablet-max) {

                  font-size: 16px;
                  line-height: 24px;

                  margin-top: 2px;
                  margin-bottom: 2px;
                }

              }
              &:last-child {

                box-sizing: border-box;
                padding-right: 4px;

              }

              padding: 3px 0;
              &.title {
                float: left;
                width: 30%;
                span {
                  display: block;
                  margin: 7px 4px;

                }
              }

              &.value {
                float: left;

                width: 70%;
              }

            }
          }
        }
      }

    }

  }

}
